﻿@using HastaneRandevuSistemi.Models;
@model Tuple<List<CalismaSaatleri>, int>

@{
    ViewData["Title"] = "Randevu Saati Seç";
}

<script>
    function selectCard(cardId, cardDate) {
        var selectedCard = document.querySelector(".card.selected");
        if (selectedCard) {
            selectedCard.classList.remove("selected");
        }

        var card = document.getElementById(cardId);
        card.classList.add("selected");

        var hiddenInput = document.getElementById("selectedCardId");
        hiddenInput.value = cardId;

        var dateInput = document.getElementById("selectedCardDate");
        dateInput.value = cardDate;
    }
</script>

<style>
    .card.selected {
        background-color: #83f28f;
    }
</style>

<div>
    <div class="col-md-6" style="width:1500px">
        <h3>Randevu Saatleri</h3>

        @if (Model == null)
        {
            <p>@ViewBag.Mesaj</p>
        }
        else
        {
            <form asp-action="RandevuOlustur" asp-controller="Kullanici" method="post">
                <input type="hidden" name="doctorId" value="@Model.Item2" />
                <input type="hidden" id="selectedCardId" name="selectedCardId" value="" />
                <input type="hidden" id="selectedCardDate" name="selectedCardDate" value="" />

                @foreach (var calismaSaati in Model.Item1)
                {
                    <div id="card_@calismaSaati.Id" class="card mb-3" onclick="selectCard('card_@calismaSaati.Id', '@calismaSaati.CalismaSaati.ToString("yyyy-MM-ddTHH:mm:ss")')">
                        <div class="card-body">
                            <h5 class="card-title">@calismaSaati.CalismaSaati.ToString("dd.MM.yyyy HH:mm:ss")</h5>
                        </div>
                    </div>
                }

                <div style="width:1500px">
                    <div class="card-body">
                        <tr>
                            <td>

                                <button type="submit" class="btn btn-primary rounded-pill float-end">Randevu Oluştur</button>
                            </td>

                        </tr>
                    </div>
                </div>
            </form>
        }
    </div>
</div>