﻿@using HastaneRandevuSistemi.Models
@model List<AnaBilimDaliBilgileri>

@{
    ViewData["Title"] = "Poliklinikler";
}

<header class="text-center py-4">
    <h1>Sakarya Üniversitesi Hastanesi</h1>
    <p class="lead">Anabilim Dalları ve Poliklinikler</p>
    <a a class="btn btn-lg btn-primary rounded-pill float-end" role="button" asp-action="RandevuAl">Yeni Randevu</a>
</header>
</br>
</br>
</br>

@{
    // Anabilim Dalı Adına Göre Poliklinikleri  Alfabetik Sıralama
    var sortedPoliklinikler = Model.OrderBy(item => item.AnaBilimDallariAdi).ToList();
}



<table class="table">

    <tbody>
@foreach (var item in Model) {
        <tr>
                <div class="list-group mb-3">
                    <a class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">@(item.AnaBilimDallariAdi)</h5>
                        </div>

                        <p class="mb-1">@item.poliklinikler.PoliklinikAdi</p>
                    </a>
                    
                </div>        
        </tr>
}
    </tbody>
</table>
