@model HastaneRandevuSistemi.Models.Poliklinikler

@{
    ViewData["Title"] = "CreatePoliklinik";
}

<h1>CreatePoliklinik</h1>

<h4>Poliklinikler</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreatePoliklinik">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PoliklinikAdi" class="control-label"></label>
                <input asp-for="PoliklinikAdi" class="form-control" />
                <span asp-validation-for="PoliklinikAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnaBilimDaliId" class="control-label"></label>
                <input asp-for="AnaBilimDaliId" class="form-control" />
                <span asp-validation-for="AnaBilimDaliId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
