@model HastaneRandevuSistemi.Models.Doktor

<h2>Çalışma Saati Oluştur - @Model.DoktorAdSoyad</h2>

<div> </div>

<form method="post" asp-action="CalismaSaatiAta">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label for="CalismaSaati" class="mb-2">Çalışma Tarihi ve Saati:</label>

        <div> </div>
        <input type="datetime-local" id="calismaZamani" name="CalismaSaati" class="form-control" min="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" />
    </div>

    <input type="hidden" asp-for="Id" value="@Model.Id" />

    <button type="submit" class="btn btn-primary float-end mt-2">Çalışma Saati Oluştur</button>
</form>