@using HastaneRandevuSistemi.Models

<a class="btn btn-primary" asp-area="" asp-controller="Admin" asp-action="AnabilimDaliEkle">Anabilim Dalı Ekle</a>

<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Anabilim Dalları</th>
            <th scope="col">Sil</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.AnaBilimDaliAdi</td>
                <td>
                    <a class="btn btn-danger" asp-area="" asp-controller="Admin" asp-action="AnaBilimDaliSil" asp-route-id="@item.Id">Sil</a>
                </td>
            </tr>
        }
    </tbody>

</table>
