@using HastaneRandevuSistemi.Models
@model List<PoliklinikBilgileri>

@{
    ViewData["Title"] = "Doktorlar";
}
<br />
<br />
<br />
<br />
<br />

<header class="text-center py-4">
    <h1>Sakarya Üniversitesi Hastanesi</h1>
    <p class="lead">Poliklinikler ve Doktorları</p>
</header>

<table class="table">
    <thead>
        <tr>
            <td>
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Anabilim Dalı Adı ve Poliklinikler</h5>
                </div>
            </td>
            <td>
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Doktor Adı</h5>
                </div>
            </td>
        </tr>
    <thead>
    <tbody>
@foreach (var item in Model) {

        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.PolikliniklerinAdi)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => (item.doktor.DoktorAdSoyad))
            </td>
        </tr>
}
    </tbody>
</table>
<br />
<br />
<br />
<br />
<br />  