<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Livedoc | Landing, Responsive &amp; Business Templatee</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="~/tema/public/assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/tema/public/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/tema/public/assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/tema/public/assets/img/favicons/favicon.ico">
    <link rel="manifest" href="~/tema/public/assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="~/tema/public/assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="~/tema/public/assets/css/theme.css" rel="stylesheet" />

</head>



<body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 d-block" data-navbar-on-scroll="data-navbar-on-scroll">
            <div class="container">
                <a class="btn btn-lg btn-primary rounded-pill" asp-controller="Home" asp-action="Index" role="button">Sakarya Üniversitesi Hastanesi</a>

                <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto pt-2 pt-lg-0 font-base">
                        <li class="nav-item px-2"><a class="nav-link" asp-controller="Admin" asp-action="Index">Anabilim Dallarını Yönet </a></li>
                        <li class="nav-item px-2"><a class="nav-link" asp-controller="Admin" asp-action="Poliklinik">Poliklinikleri Yönet </a></li>
                        <li class="nav-item px-2"><a class="nav-link" asp-controller="Admin" asp-action="Doktor">Doktorları Yönet </a></li>
                        <li class="nav-item px-2"><a class="nav-link" asp-controller="Admin" asp-action="Randevu">Randevuları Yönet </a></li>
                        <li class="nav-item px-2"><a class="nav-link" asp-controller="Home" asp-action="LogOut">Çıkış Yap </a></li>

                     </div>

            </div>
        </nav>

        <br />
        <br />
        <br />
        <br />
        <br />
        <!-- ============================================-->
        <!-- <section> begin ============================-->


        <!-- <section> close ============================-->
        <!-- ============================================-->
        <!-- ============================================-->
        <!-- <section> begin ============================-->
 
        <!-- <section> close ============================-->
        <!-- ============================================-->
        <!-- ============================================-->
        <!-- <section> begin ============================-->

        <!-- <section> close ============================-->
        <!-- ============================================-->



        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <!-- <section> close ============================-->
        <!-- ============================================-->
        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <!-- <section> close ============================-->
        <!-- ============================================-->
        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <!-- <section> close ============================-->
        <!-- ============================================-->


        <section class="py-0 bg-secondary">
            


            <!-- ============================================-->
            <!-- <section> begin ============================-->


            </section>
            <!-- <section> close ============================-->
            <!-- ============================================-->


        </section>
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->
    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="~/tema/public/vendors/popperjs/popper.min.js"></script>
    <script src="~/tema/public/vendors/bootstrap/bootstrap.min.js"></script>
    <script src="~/tema/public/vendors/is/is.min.js"></script>
    <script src="https://scripts.sirv.com/sirvjs/v3/sirv.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="~/tema/public/vendors/fontawesome/all.min.js"></script>
    <script src="~/tema/public/assets/js/theme.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&amp;family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&amp;display=swap" rel="stylesheet">
</body>
@RenderBody()

</html>